// Basic Colors
$black: #00000d;
$white: #ffffff;
$gray: #404040;
$blue: #4472c4;
$red:#FA7268;


// Breakpoints
$tablet: 992px; 
$mobile: 600px;

// Font sizes
$large: 32px;
$medium: 24px;
$small: 18px;
$exsmall: 12px;

$primary-margin: 1rem 0 1.5rem 0;
$secondry-margin:2rem 0 2.5rem 0;
$refresh-padding: 10px 0px 10px 10px;
$refresh-margin: 0 0 0 10px;
$refresh-icon-size: 35px;
$card-image-height: 350px;

$tab-min-width: 100px;
$tab-min-width-small: 50px;
